<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Git History Graph</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/less/site")
</head>
<body>
    <header>
        Git History graph - HTML 5
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        
    </footer>
    @Scripts.Render("~/bundles/scripts")    
</body>
</html>
