<div id="previous" style="cursor:pointer">
    Previous Page
</div>
<div>
    <canvas id='history-graph-canvas' width='1024' height='800' data-graph="@ViewBag.HistoryGraph">
    </canvas>
</div>
<div id="next" style="cursor:pointer">
    Next Page
</div>
